<div>
  <% if users.present? %>
    <div>
      <% start_number = users.offset_value + 1 %>
      <% end_number = [users.offset_value + users.length, users.total_count].min %>
      Showing <%= start_number %>–<%= end_number %> of <%= users.total_count %>
    </div>
    <div>
      <% if users.prev_page %>
        <%= link_to "← Prev", url_for(params.permit!.to_h.merge(page: users.prev_page)), rel: "prev" %>
      <% end %>

      <span>Page <%= users.current_page %> of <%= users.total_pages %></span>

      <% if users.next_page %>
        <%= link_to "Next →", url_for(params.permit!.to_h.merge(page: users.next_page)), rel: "next" %>
      <% end %>
    </div>
  <% else %>
    <div>No results</div>
  <% end %>
</div>