<tr>
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= user.species %></td>
  <td><%= user.gender.humanize %></td>
  <td><%= user.weapon %></td>
  <td><%= user.vehicle %></td>
</tr>